html {
  overflow: hidden;
}

.container {
  max-width: 900px !important;
}

#loginPageSection {
  height: 100vh;
  color: white;
}

#loginPageWrapper,
#chatPageWrapper {
  position: relative;
  min-height: 100vh;
  background-color: #4b6c6e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(115,479,463)'%3E%3Cstop offset='0' stop-color='%234b6c6e'/%3E%3Cstop offset='1' stop-color='%234b798e'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='504' height='420' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#loginPageWrapper h1 {
  font-family: 'Goudy Bookletter 1911', serif;
}

#loginPageWrapper p {
  font-family: 'Rammetto One', cursive;
}

.btn-block {
  padding: 0.5rem 0 !important;
  font-size: 1rem !important;
  letter-spacing: 0.2rem;
}

.login-form-input:focus {
  box-shadow: none !important;
}

button.btn.dropdown-toggle.btn-light {
  outline: none !important;
}

.bootstrap-select .dropdown-menu li a {
  outline: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #17a2b8 !important;
}

button.btn.dropdown-toggle.btn-light:hover {
  background-color: transparent !important;
}

button.btn.dropdown-toggle.btn-light:focus {
  box-shadow: none !important;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 114, 104, 0.7);
}

.login-form-wrapper {
  background: rgba(55, 91, 26, 0.3);
  max-width: 350px;
  border-radius: 4px;
}

.form-group {
  position: relative;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 10px;
  right: 0;
  top: 14px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  background: #ffffffd9;
}

.error-message--chat-form {
  font-size: 12px;
  right: 20px;
  top: -20px;
  z-index: 1;
}

.form-control {
  color: #212529;
  border: none;
}

.small-avatar-img {
  height: 30px;
  overflow: hidden;
}

.avatar-img {
  height: 40px;
}

.small-gender-img {
  height: 40px;
}

.small-flag-img {
  height: 40px;
}

.filter-option-inner-inner {
  max-height: 38px;
}

.dropdown-toggle {
  max-height: 38px;
}

.dropdown-menu {
  max-width: 100%;
}

.chat-image {
  height: 200px;
}

.chat-user-wrapper {
  margin: 0;
  background: #0072682b;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 91, 26, 0.3);
}

.chat-user-wrapper:hover {
  background: #00726882;
}

.chat-user-wrapper__header {
  height: 50px;
  background: #00726875;
  cursor: auto;
  margin-left: 0;
  margin-right: 0;
}

.chat-user-wrapper__header:hover {
  background: #00726875;
}

/* Chat page */

.chat-messages-wrapper {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  right: 0;
  left: 0;
  top: 50px;
  bottom: 38px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
}

#nav-users,
#nav-history {
  position: relative;
}

.chat-users-sorting {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.chat-users-list-wrapper {
  height: calc(100% - 50px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.chat-form {
  position: relative;
  bottom: 0;
  height: 38px;
}

.tab-pane {
  min-height: 80vh;
  background: white;
}

.message-right {
  font-size: 15px;
  width: fit-content;
  max-width: 75%;
  margin: 5px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 8px;
  padding-left: 8px;
  word-wrap: break-word;
  position: relative;
  background: #00aabb;
  border-radius: 0.4em;
}

.message-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -5.5px;
  margin-right: -11px;
}

.message-welcome {
  padding: 10px;
  font-size: 15px;
  margin: auto;
  top: 25px;
  width: 75%;
  word-wrap: break-word;
  position: relative;
  background: #00bba175;
  border-radius: 15px;
}

.message-welcome:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-right-color: #00bba175;
  border-left: 0;
  border-bottom: 0;
  margin-top: -5.5px;
  margin-left: -11px;
}

.message-welcome img {
  height: 40px;
}

.message-left {
  font-size: 15px;
  width: fit-content;
  max-width: 75%;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 8px;
  padding-left: 8px;
  word-wrap: break-word;
  position: relative;
  background: #00bba1;
  border-radius: 0.4em;
}

.message-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-right-color: #00bba1;
  border-left: 0;
  border-bottom: 0;
  margin-top: -5.5px;
  margin-left: -11px;
}

.chat-box-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.char-form-button {
  border-radius: 0;
}

.chat-form > input:focus {
  box-shadow: none;
}

.chat-form > input {
  border-top: 1px solid rgba(0, 114, 104, 0.7);
  border-radius: 0;
}

.nav-link {
  padding: 5px;
  background: #006dbb26;
  font-weight: bold;
  color: #a8cfdc;
  border: 1px solid white !important;
}

.nav-link:hover {
  color: white;
}

.user-age-and-flag-title {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  text-align: center;
}

.user-age-title {
  width: 70px;
  background: white;
  border-radius: 5px;
  padding: 5px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.unseen-messages-indicator {
  padding-top: 2px;
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: red;
  font-weight: bolder;
  font-size: 10px;
}

.message-time-right {
  font-size: 9px;
  text-align: right;
  color: #cce4e4;
}

.message-time-left {
  font-size: 9px;
  text-align: left;
  color: #cce4e4;
}

.user-left-message {
  font-weight: bold;
  z-index: 1;
  background-color: #00adff8c;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.filter-number-input {
  width: 52px;
}

.form-inline {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.form-inline label {
  font-size: 14px;
}

.chat-users-filter-checkbox {
  height: 25px;
}

/* ------------ Scrollbar ---------------- */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #068b8d48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #056769b6;
}
/* ------------ Scrollbar ---------------- */

/* -------------------- Loader ------------------ */
.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}
/* ----------------------------------------------- */

@media (max-width: 800px) {
  .avatar-img {
    height: 30px;
  }

  .small-gender-img {
    height: 15px;
  }

  .small-flag-img {
    height: 30px;
  }

  .user-name-title {
    font-size: 10px;
    word-wrap: break-word;
  }
}

@media (max-width: 750px) {
  .form-inline {
    margin: auto auto;
    margin-bottom: 5px;
    min-width: 230px;
    width: 30%;
    flex-direction: column;
    height: 150px;
    align-items: flex-start;
  }

  .chat-users-list-wrapper {
    height: calc(100% - 155px);
  }

  .form-inline label {
    font-size: 12px;
    margin: 0;
  }

  .females-form-check {
    margin-left: 30px;
  }

  .form-inline button {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .user-name-title {
    width: 69px;
  }
}
